<div id="company_profile">
        <p>
            <b>useblocks</b> is a German company that operates in the field of company internal processes,
            communication, and software solutions.
            We are focused on engineering related companies and their development teams.
            Our solutions help engineers to build better products faster.
        </p>
        <p>
            100% of our employees are engineers, and we try to contribute to Open-Source projects
            as much as possible. We create bug reports, analyse tool chain stacks, maintain projects and participate
            on conferences.
            We support our employees to create their own digital footprint in the Open-Source world and to become
            a brand outside each company borders.
        </p>
        <p>
            The headquarter of useblocks is located in Munich, but we have employees and freelancers all over Europe.
            And also the teams of our customers are normally distributed all over the work.
            So we support 100% remote work, from everywhere and with working hours at any time.
        </p>
</div>