    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-6 col-md-offset-3 text-center">
                        <p>
                        </p>
                    </div>

                </div>
                <div class="row">
                    <div class="footer-col col-md-1"></div>
                    <div class="footer-col col-md-4">
                        <h3>Location</h3>
                        <p>
                            useblocks GmbH<br>
                            Schopenhauerstr. 71<br>
                            80807 München<br>
                            +49 89 6666 1748
                        </p>
                    </div>
                    <div class="footer-col col-md-2">
                        <a href="http://useblocks.com" target="_blank">
                            <img src="/assets/img/ub_logo.png" class="img-responsive img-centered">
                        </a>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>About useblocks</h3>
                        <p>
                            useblocks designs, develops, installs and maintains processes and software for
                            engineering related companies.
                        </p>
                    </div>
                    <div class="footer-col col-md-2"></div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <a href="/ub/impressum">Impressum</a> |
                        <a href="/ub/datenschutz">Datenschutz</a>
                        <br>
                        Copyright &copy; team useblocks 2018
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- jQuery -->
    <script src="/assets/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->

    <!-- Theme JavaScript -->
    <script src="/assets/js/freelancer.min.js"></script>

</body>

</html>
