<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>useblocks</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="/assets/img/favicon.ico">

    <!-- Bootstrap Core CSS -->
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/bootstrap-select.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="/assets/css/useblocks.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

<!--    <link rel="stylesheet" type="text/css" href="/assets/js/datatables.css"/>-->
    <link rel="stylesheet" type="text/css" href="/assets/css/useblocks_datatables.css"/>
    <link href="/assets/css/bg_animation.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="/assets/js/jQuery-3.2.1/jquery-3.2.1.js"></script>
    <script src="/assets/js/bootstrap-select-1.12.4/bootstrap-select.min.js"></script>

</head>

<body id="page-top" class="index">
