{% include "head.html" %}

<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="/ub">
                <img class="img-logo" src="/ub/static/img/ub_logo.png">useblocks
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header class="style_yellow">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
{#                <img class="img-responsive img-slogan" src="/ub/static/img/{{ job.logo }}" alt="">#}
                <div class="intro-text">
                    <span class="name">Impressum</span>
                    <hr class="star">
                    <span class="skills">Die wichtigsiten Infos über useblocks als Betreiber dieser Seite</span>
                </div>
            </div>
        </div>
    </div>
</header>

 <section class="style_dark" id="description">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <h1>Impressum</h1>
                <p><strong>Angaben gemäß § 5 TMG:</strong></p>
                <p>useblocks GmbH<br></p>
                <p><strong>Postanschrift:</strong><br>Schopenhauerstr. 71<br>München</p>
                <p><strong>Kontakt:</strong></p>
                <p>Telefon: 089/66661748<br>E-Mail: info@useblocks.com</p>
                <p><strong>Vertreten durch:</strong></p>
                <p>Marco Heinemann
                <br>Daniel Woste</p>
                <p><br><strong>Eingetragen am 06.07.2011</strong></p>
                <p>München HRB 193131<br></p>
                <p><br><strong>Umsatzsteuer-Identifikationsnummer</strong></p>
                <p>DE278106025<br></p>
                <p><em>Das Impressum wurde mit dem <a href="https://www.activemind.de/datenschutz/impressums-generator/">Impressums-Generator der activeMind AG</a> erstellt.</em></p>
            </div>
        </div>
    </div>
 </section>

{% include "footer.html" %}