{% include "head.html" %}

    <!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="#page-top">
                <img class="img-logo" src="/ub/static/img/ub_logo.png">useblocks
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll">
                    <a href="#about">About</a>
                </li>
                <li class="page-scroll">
                    <a href="#portfolio">Portfolio</a>
                </li>
                <li class="page-scroll">
                    <a href="#expertise">Expertise</a>
                </li>
                <li class="page-scroll">
                    <a href="provides">Team</a>
                </li>
                <li class="page-scroll">
                    <a href="#conviction">Conviction</a>
                </li>
                <li class="page-scroll">
                    <a href="hires">Jobs</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header class="style_yellow">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive img-slogan" src="/ub/static/img/ub_logo.png" alt="">
                <div class="intro-text">
                    <span class="name">Pimp your tooling</span>
                    <hr class="star">
                    <span class="skills">Grown inside automotive engineering companies</span><br>
                    <span class="skills">Focused on company internal processes, communication and
                        software</span><br>
                    <span class="skills">Delivers solutions, not only software</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- About Section -->
<section class="style_dark" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1">
                <p>
                    useblocks is a German company and operates in the field of company internal processes,
                    communication and software solutions.
                </p>
                <p>
                    We are focused on engineering related companies and their development teams.
                    Our solutions help engineers to build better products faster.
                </p>
            </div>
            <div class="col-lg-5">
                <p>
                    useblocks' expertise is based on detailed knowledge on a wide range of use cases and
                    technologies.
                </p>
                <p>
                    From small scripts to web applications for hundreds of engineers. From
                    automotive change-management processes to open-source projects. useblocks finds and creates
                    the right solution.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- PORTFOLIO section-->
<section class="style_yellow" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Portfolio</h2>
                <hr class="star">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3>Open Source Tools and Libraries</h3>
            </div>
        </div>
        <div class="row portfolio">

            {%  if tools|length % 4 == 0  %}
                {%  set WIDTH=3 %}
            {%  elif tools|length % 2 == 0 %}
                {%  set WIDTH=6 %}
            {%  else  %}
                {%  set WIDTH=4 %}
            {% endif %}

            {% for item in tools %}
                {% if item.active %}
                <div class="col-md-{{ WIDTH }} ub_item text-center">
                    <div class="image">
                        {% if item.image != "" %}
                        <img src="/ub/static/img/{{ item.image}}">
                        {% endif %}
                    </div>

                    <h4 class="text-center">{{ item.name }}</h4>
                    <p class="text-center portfolio_description">
                        {{ item.description }}
                    </p>
                    <p class="links">
                        <a href="{{ item.website_url }}" target="_blank" class="btn btn-lg btn-outline"
                           target="_blank">
                            <i class="fa fa-globe"> Website</i>
                        </a>

                        {% if item.code_url != "" %}
                        <a href="{{ item.code_url }}" target="_blank" class="btn btn-lg btn-outline"
                           target="_blank">
                            <i class="fa fa-github"> Code</i>
                        </a>
                        {% endif %}
                    </p>

                </div>
                {% endif %}
            {% endfor %}
        </div>

        {# Presentations #}
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3>Presentations and Tutorials</h3>
            </div>
        </div>
        <div class="row portfolio">
            {%  if presentations|length % 4 == 0  %}
                {%  set WIDTH=3 %}
            {%  elif presentations|length % 2 == 0 %}
                {%  set WIDTH=6 %}
            {%  elif presentations|length == 1 %}
                {%  set WIDTH=12 %}
            {%  else  %}
                {%  set WIDTH=4 %}
            {% endif %}

            {% for item in presentations %}
                {% if item.active %}
                <div class="col-md-{{ WIDTH }} ub_item text-center">
                    <div class="image">
                        {% if item.image != "" %}
                            {%  if "http" in item.image %}
                                <img src="{{ item.image }}">
                            {% else %}
                                <img src="/ub/static/img/{{ item.image }}">
                            {% endif %}
                        {% endif %}
                    </div>

                    <h4 class="text-center">{{ item.name }}</h4>
                    <p class="text-center portfolio_description">
                        {{ item.description }}
                    </p>
                    <p>
                        <a href="{{ item.website_url }}" target="_blank" class="btn btn-lg btn-outline"
                           target="_blank">
                            <i class="fa fa-globe"> Website</i>
                        </a>

                        {% if item.code_url != "" %}
                        <a href="{{ item.code_url }}" target="_blank" class="btn btn-lg btn-outline"
                           target="_blank">
                            <i class="fa fa-github"> Code</i>
                        </a>
                        {% endif %}
                    </p>

                </div>
                {% endif %}
            {% endfor %}
        </div>

        {# Press #}
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3>useblocks in the news</h3>
            </div>
        </div>
        <div class="row portfolio">
            {%  if press|length % 4 == 0  %}
                {%  set WIDTH=3 %}
            {%  elif press|length % 2 == 0 %}
                {%  set WIDTH=6 %}
            {%  elif press|length == 1 %}
                {%  set WIDTH=12 %}
            {%  else  %}
                {%  set WIDTH=4 %}
            {% endif %}

            {% for item in press %}
                {% if item.active %}
                <div class="col-md-{{ WIDTH }} ub_item text-center">
                    <div class="image">
                        {% if item.image != "" %}
                            {%  if "http" in item.image %}
                                <img src="{{ item.image }}">
                            {% else %}
                                <img src="/ub/static/img/{{ item.image }}">
                            {% endif %}
                        {% endif %}
                    </div>

                    <h4 class="text-center">{{ item.name }}</h4>
                    <p class="text-center portfolio_description">
                        {{ item.description }}
                    </p>
                    <p>
                        <a href="{{ item.url }}" target="_blank" class="btn btn-lg btn-outline"
                           target="_blank">
                            <i class="fa fa-globe"> News</i>
                        </a>
                    </p>

                </div>
                {% endif %}
            {% endfor %}
        </div>

    </div>
</section>

<!--EXPERTISE Section-->
<section class="style_dark" id="expertise">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Expertise</h2>
                <hr class="star">
            </div>
        </div>

        <!--<div class="row">-->
            <!--<div class="col-md-10 col-md-offset-1 text-center">-->
                <!--<h3>Integrated libraries<br>-->
                    <!--<small>-->
                        <!--groundwork integrates some of the most common Python packages and makes their functions-->
                        <!--available under an easy to learn application interface-->
                    <!--</small>-->
                <!--</h3>-->
            <!--</div>-->
        <!--</div>-->

        <div class="row">
            <div class="col-sm-12 col-md-2">
                <p><b>Operating Systems</b></p>
            </div>
            <div class="col-sm-12 col-md-3">
                <img src="/ub/static/img/stars_3.svg" class="rating"> GNU/Linux Embedded <br>
                <img src="/ub/static/img/stars_4.svg" class="rating"> GNU/Linux Server <br>
            </div>
            <div class="col-sm-12 col-md-3">
                <img src="/ub/static/img/stars_5.svg" class="rating"> GNU/Linux Desktop <br>
                <img src="/ub/static/img/stars_4.svg" class="rating"> Windows Desktop <br>
            </div>

            <div class="col-sm-12 col-md-4">
                <img src="/ub/static/img/stars_4.svg" class="rating"> Windows Server <br>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-2">
                <p><b>Languages and more</b></p>
            </div>

            <div class="col-sm-12 col-md-3">
                <img src="/ub/static/img/stars_5.svg" class="rating"> C<br>
                <img src="/ub/static/img/stars_3.svg" class="rating"> C++<br>
                <img src="/ub/static/img/stars_4.svg" class="rating"> C#<br>
                <img src="/ub/static/img/stars_5.svg" class="rating"> Python<br>
                <img src="/ub/static/img/stars_4.svg" class="rating"> Javascript<br>
            </div>
            <div class="col-sm-12 col-md-3">
                <img src="/ub/static/img/stars_3.svg" class="rating"> Java<br>
                <img src="/ub/static/img/stars_3.svg" class="rating"> Bash<br>
                <img src="/ub/static/img/stars_4.svg" class="rating"> VBA<br>
                <img src="/ub/static/img/stars_5.svg" class="rating"> HTML<br>
                <img src="/ub/static/img/stars_5.svg" class="rating"> CSS<br>
            </div>
            <div class="col-sm-12 col-md-4">
                <img src="/ub/static/img/stars_3.svg" class="rating"> LESS<br>
                <img src="/ub/static/img/stars_5.svg" class="rating"> RegEx<br>
                <img src="/ub/static/img/stars_4.svg" class="rating"> XML<br>
                <img src="/ub/static/img/stars_5.svg" class="rating"> JSON<br>
                <img src="/ub/static/img/stars_3.svg" class="rating"> ANTLR<br>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-2">
                <p><b>Frameworks, APIs and Libraries </b></p>
            </div>
            <div class="col-sm-12 col-md-3">
                <h5>Python</h5>
                <img src="/ub/static/img/stars_5.svg" class="rating"> Flask + Extensions<br>
                <img src="/ub/static/img/stars_5.svg" class="rating"> Requests<br>
                <img src="/ub/static/img/stars_5.svg" class="rating"> SQLALchemy<br>
                <img src="/ub/static/img/stars_5.svg" class="rating"> Buildout<br>
                <img src="/ub/static/img/stars_5.svg" class="rating"> Sphinx<br>
                <img src="/ub/static/img/stars_4.svg" class="rating"> Cookiecutter<br>
                <img src="/ub/static/img/stars_4.svg" class="rating"> Tox<br>
                <img src="/ub/static/img/stars_4.svg" class="rating"> PyTest<br>

            </div>
            <div class="col-sm-12 col-md-3">
                <h5>JS / HTML / CSS</h5>
                <img src="/ub/static/img/stars_4.svg" class="rating"> jQuery<br>
                <img src="/ub/static/img/stars_3.svg" class="rating"> AngularJs<br>
                <img src="/ub/static/img/stars_4.svg" class="rating"> Highcharts<br>
                <img src="/ub/static/img/stars_5.svg" class="rating"> Bootstrap<br>
                <img src="/ub/static/img/stars_4.svg" class="rating"> FontAwesome<br>
            </div>

            <div class="col-sm-12 col-md-4">
                <h5>Others</h5>
                <img src="/ub/static/img/stars_5.svg" class="rating"> Atlassian Connect<br>

            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-2">
                <p><b>Cloud Services</b></p>
            </div>

            <div class="col-sm-12 col-md-3">
                <img src="/ub/static/img/stars_5.svg" class="rating"> github<br>
                <img src="/ub/static/img/stars_5.svg" class="rating"> Bitbucket<br>
                <img src="/ub/static/img/stars_5.svg" class="rating"> Travis<br>

            </div>
            <div class="col-sm-12 col-md-3">
                <img src="/ub/static/img/stars_5.svg" class="rating"> Amazon EC2<br>
                <img src="/ub/static/img/stars_4.svg" class="rating"> Amazon S3<br>
                <img src="/ub/static/img/stars_3.svg" class="rating"> Amazon RDS<br>

            </div>

            <div class="col-sm-12 col-md-4">
                <img src="/ub/static/img/stars_4.svg" class="rating"> Sentry<br>
                <img src="/ub/static/img/stars_4.svg" class="rating"> Coveralls<br>
                <img src="/ub/static/img/stars_5.svg" class="rating"> Readthedocs<br>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-2">
                <p><b>Databases</b></p>
            </div>
            <div class="col-sm-12 col-md-3">
                <img src="/ub/static/img/stars_5.svg" class="rating"> sqlite<br>
                <img src="/ub/static/img/stars_4.svg" class="rating"> PostgresSQL<br>
            </div>
            <div class="col-sm-12 col-md-3">
                <img src="/ub/static/img/stars_3.svg" class="rating"> MySQL<br>
            </div>

            <div class="col-sm-12 col-md-4">
                <img src="/ub/static/img/stars_3.svg" class="rating"> MongoDB<br>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-2">
                <p><b>IDEs</b></p>
            </div>
            <div class="col-sm-12 col-md-3">
                <img src="/ub/static/img/stars_5.svg" class="rating"> PyCharm<br>
                <img src="/ub/static/img/stars_3.svg" class="rating"> Eclipse<br>

            </div>
            <div class="col-sm-12 col-md-3">
                <img src="/ub/static/img/stars_3.svg" class="rating"> Visual Studio<br>
            </div>

            <div class="col-sm-12 col-md-4">
                <img src="/ub/static/img/stars_4.svg" class="rating"> Vim<br>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-2">
                <p><b>Other Software</b></p>
            </div>
            <div class="col-sm-12 col-md-3">
                <img src="/ub/static/img/stars_5.svg" class="rating"> git<br>
                <img src="/ub/static/img/stars_4.svg" class="rating"> Subversion<br>
                <img src="/ub/static/img/stars_3.svg" class="rating"> Apache<br>
                <img src="/ub/static/img/stars_3.svg" class="rating"> nginx<br>
                <img src="/ub/static/img/stars_5.svg" class="rating"> Ansible<br>
            </div>
            <div class="col-sm-12 col-md-3">
                <img src="/ub/static/img/stars_5.svg" class="rating"> Jenkins<br>
                <img src="/ub/static/img/stars_4.svg" class="rating"> devpi<br>
                <img src="/ub/static/img/stars_4.svg" class="rating"> Bareos<br>
                <img src="/ub/static/img/stars_4.svg" class="rating"> Zabbix<br>
            </div>

            <div class="col-sm-12 col-md-4">
                <img src="/ub/static/img/stars_5.svg" class="rating"> ngrok<br>
                <img src="/ub/static/img/stars_5.svg" class="rating"> JIRA<br>
                <img src="/ub/static/img/stars_4.svg" class="rating"> Confluence<br>
                <img src="/ub/static/img/stars_4.svg" class="rating"> Hipchat<br>
            </div>
        </div>

    </div>
</section>

<!-- TEAM section-->
<section class="style_yellow" id="team">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Team</h2>
                <hr class="star">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 ub_item "></div>
            {% for key, contact in employees.items() %}

            <div class="col-sm-4 ub_item text-center">
                <div class="circle_team" id="{{ contact.first_name|lower }}"></div>

                <h4 class="text-center">{{ contact.first_name }} {{ contact.name }}</h4>
                <p class="text-center">
                    {{ contact.title }}<br>
                    {% for tag in contact.tags %}
                    <span class="label label-transparent">{{ tag }}</span>
                    {% endfor %}
                </p>
                <a href="mailto:{{ contact.e_mail }}" target="_blank" class="btn btn-lg btn-outline"
                   target="_blank">
                    <i class="fa fa-file"> E-Mail</i>
                </a>
                <a href="{{ contact.xing }}" target="_blank" class="btn btn-lg btn-outline"
                   target="_blank">
                    <i class="fa fa-xing"> Xing</i>
                </a>
            </div>
            {% endfor %}

            <div class="col-sm-2 ub_item "></div>
        </div>
    </div>
</section>

<!-- Conviction Grid Section -->
<section class="style_dark" id="conviction">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Conviction</h2>
                <hr class="star">
                <p>
                    We believe that development teams for process and software must have some
                    convictions to create beloved and beneficial solutions.<br>
                    These are ours:
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4  ub_item text-center">
                <div class="circle circle_red"><h3>AGILE</h3></div>
                <h4 class="text-center">Agile Principles</h4>
                <p>
                    Know what you get, test what you need.
                    useblocks builds runnable prototypes in 2-weeks loops.
                </p>
            </div>

            <div class="col-sm-4  ub_item text-center">
                <div class="circle circle_turkis"><h3>FOSS</h3></div>
                <h4 class="text-center">Free and Open-Source Software</h4>
                <p>
                    Build better software together.<br>
                    Use the knowledge and expertise of the international FOSS
                    community.
                </p>
            </div>

            <div class="col-sm-4  ub_item text-center">
                <div class="circle circle_lila"><h3>KISS</h3></div>
                <h4 class="text-center">Keep it simple and smart</h4>
                <p>
                    Save time and trainings costs with simple and smart solutions for processes and software.
                </p>
            </div>

        </div>

        <div class="row">
            <div class="col-sm-4 ub_item text-center">
                <div class="circle circle_blue"><h3>DRY</h3></div>
                <h4 class="text-center">Don't repeat yourself</h4>
                <p>
                    Pay less, start faster by using available solutions.
                    useblocks tools are always separated into small, reusable modules.
                </p>
            </div>
            <div class="col-sm-4 ub_item text-center">
                <div class="circle circle_yellow"><h3>RTFM</h3></div>
                <h4 class="text-center">Read the f***ing manual</h4>
                <p>
                    We have automated our documentation process and provide information for users, administrators
                    and developers.
                </p>
            </div>
            <div class="col-sm-4 ub_item text-center">
                <div class="circle circle_green"><h3>DIY</h3></div>
                <h4 class="text-center">Do it yourself</h4>
                <p>
                    useblocks shares everything. All our solutions can be
                    easily extended and maintained by internal and external employees.
                </p>
            </div>
        </div>
    </div>
</section>


<section class="style_yellow" id="jobs">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Jobs</h2>
                <hr class="star">
            </div>
        </div>
        <div class="row">
            {% include "jobs_table.html" %}
        </div>
        <div class="row">
            <p class="text-center">
                <a href="/ub/hires" class="btn btn-lg btn-outline text-center">
                    <i class="fa fa-info"> See your benefits and how an average day at useblocks looks like.</i>
                </a>
            </p>
        </div>
    </div>
</section>

{% include "footer.html" %}
