{% assign final_jobs = site.jobs %}
{% if final_jobs.size == 0 %}
    <p class="no_jobs">
        Sorry, we currently have no open job positions.
    </p>
{% else %}
    <table id="jobs_table" class="dataTable">
        <thead>
            <tr>
                <th class="job_name">Job</th>
                <th class="job_description">Description</th>
                <th class="job_location">Location</th>
            </tr>
        </thead>
        <tbody>
            {%  for job in final_jobs %}
            <tr>
                <td class="job_name"> <a href="{{ job.url }}" >{{ job.name }}</a></td>
                <td class="job_description"> <a href="{{ job.url }}" >{{ job.long_name }}</a></td>
                <td class="job_location"> <a href="{{ job.url }}" >{{ job.location }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endif %}
