body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  background-color: #000000;
  color: #ffffff;
}
p,
#expertise {
  font-size: 18px;
}
p.small {
  font-size: 15px;
}
#team p {
  line-height: 2em;
}
footer a,
footer a:hover,
footer a:focus,
footer a.active {
  color: #ffffff;
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
hr.star {
  padding: 0;
  border: none;
  border-top: solid 3px;
  text-align: center;
  max-width: 250px;
  margin: 15px auto 30px;
}
.img-centered {
  margin: 0 auto;
}
header {
  text-align: center;
}
header .container {
  padding-top: 100px;
  padding-bottom: 50px;
}
header img {
  display: block;
  margin: 0 auto 20px;
}
header .intro-text .name {
  display: block;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5em;
}
header .intro-text .skills {
  font-size: 1.25em;
  font-weight: 300;
}
@media (min-width: 768px) {
  header .intro-text .name {
    font-size: 2.2em;
  }
  header .intro-text .skills {
    font-size: 1.5em;
  }
  .img-slogan {
    max-width: 50%;
  }
}
.navbar-custom {
  background-image: -moz-linear-gradient(top, #444444, #333333 100%);
  background-image: -ms-linear-gradient(top, #444444, #333333 100%);
  background-image: -webkit-gradient(radial, 0, center center, 460, from(#444444), to(#333333));
  background-image: -webkit-linear-gradient(top, #444444, #333333 100%);
  background-image: -o-linear-gradient(top, #444444, #333333 100%);
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.75);
}
.navbar-custom a:focus {
  outline: none;
}
.navbar-custom .navbar-brand {
  color: #ffffff;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
  color: white;
}
.navbar-custom .navbar-nav {
  letter-spacing: 1px;
}
.navbar-custom .navbar-nav li a {
  color: #ffffff;
  outline: none;
}
.navbar-custom .navbar-nav li a:hover,
.navbar-custom .navbar-nav li a:focus,
.navbar-custom .navbar-nav li a:active {
  color: #ffffff;
  outline: none;
}
.navbar-custom .navbar-nav li.active a {
  color: #000000;
  background: #ffcc00;
}
.navbar-custom .navbar-nav li.active a:hover,
.navbar-custom .navbar-nav li.active a:focus,
.navbar-custom .navbar-nav li.active a:active {
  color: #000000;
  background: #ffcc00;
}
.navbar-custom .navbar-toggle {
  text-transform: uppercase;
  font-size: 10px;
  border-color: white;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  color: #000000;
}
@media (min-width: 768px) {
  .navbar-custom {
    padding: 10px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
  }
  .navbar-custom .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-custom.affix {
    padding: 0;
  }
  .navbar-custom.affix .navbar-brand {
    font-size: 1.5em;
  }
}
section {
  padding: 50px 0;
}
section h2 {
  margin: 0;
  font-size: 3em;
}
a.btn-outline {
  font-size: 20px;
  border: 2px solid;
  background: transparent;
  transition: all 0.3s ease-in-out;
  margin-top: 0;
  padding: 2px 10px;
}
a.btn-outline:hover,
a.btn-outline:focus,
a.btn-outline:active,
a.btn-outline.active {
  border: solid 2px white;
}
.circle_team {
  position: relative;
  margin: 20px auto;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
.circle_team span,
.circle_team h1,
.circle_team h2,
.circle_team h3,
.circle_team h4,
.circle_team h5 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: white;
}
#marco {
  background: url(/assets/img/marco_kreis_transparent.png) no-repeat center;
  border: 5px solid #333333;
}
#daniel {
  background: url(/assets/img/daniel_kreis_transparent.png) no-repeat center;
  border: 5px solid #333333;
}
.circle {
  position: relative;
  margin: 20px auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 3px 4px 10px 2px rgba(0, 0, 0, 0.6);
}
.circle span,
.circle h1,
.circle h2,
.circle h3,
.circle h4,
.circle h5 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: white;
}
.circle_red {
  background: none;
  border: 5px solid #e05038;
}
.circle_green {
  background: none;
  border: 5px solid #3da33c;
}
.circle_blue {
  background: none;
  border: 5px solid #3775c4;
}
.circle_yellow {
  background: none;
  border: 5px solid #e6af4b;
}
.circle_lila {
  background: none;
  border: 5px solid #7b30db;
}
.circle_turkis {
  background: none;
  border: 5px solid #108384;
}
.label {
  margin: 5px 5px;
}
.label-green {
  background-color: #3da33c;
}
.label-blue {
  background-color: #3775c4;
}
.label-red {
  background-color: #e02417;
}
.label-transparent {
  background-color: transparent;
  border: 1px solid white;
}
.style_yellow {
  color: #000000;
  background-image: -moz-radial-gradient(center top, ellipse farthest-side, #ffcc00, #d25c00 100%);
  background-image: -ms-radial-gradient(center top, ellipse farthest-side, #ffcc00, #d25c00 100%);
  background-image: -webkit-gradient(radial, center center, 0, center center, 460, from(#ffcc00), to(#d25c00));
  background-image: -webkit-radial-gradient(center top, ellipse farthest-side, #ffcc00, #d25c00 100%);
  background-image: -o-radial-gradient(center top, ellipse farthest-side, #ffcc00, #d25c00 100%);
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.75);
  position: relative;
}
.style_yellow a,
.style_yellow a:hover,
.style_yellow a:focus,
.style_yellow a.active {
  color: #333333;
  outline: none;
}
.style_yellow hr.star {
  border-color: #000000;
  color: #000000;
}
.style_yellow hr.star:after {
  background-color: none;
  color: #000000;
}
.style_yellow a.btn-outline {
  color: #000000;
  /*border-color: #000000;*/
  border: none;
}
.style_yellow a.btn-outline:hover,
.style_yellow a.btn-outline:focus,
.style_yellow a.btn-outline:active,
.style_yellow a.btn-outline.active {
  color: #000000;
  background: #ffcc00;
}
.style_dark {
  background: #333333;
  color: #ffffff;
}
.style_dark a,
.style_dark a:hover,
.style_dark a:focus,
.style_dark a.active {
  color: #ffcc00;
  outline: none;
}
.style_dark hr.star {
  border-color: #ffffff;
  color: #ffffff;
}
.style_dark hr.star:after {
  background-color: #333333;
  color: #ffffff;
}
.style_dark a.btn-outline {
  color: #ffffff;
  border-color: #ffffff;
}
.style_dark a.btn-outline:hover,
.style_dark a.btn-outline:focus,
.style_dark a.btn-outline:active,
.style_dark a.btn-outline.active {
  color: #ffffff;
  background: #333333;
}
.style_light {
  background: #444444;
  color: #ffffff;
  border-color: #ffffff;
}
.style_light a,
.style_light a:hover,
.style_light a:focus,
.style_light a.active {
  color: #ffcc00;
  outline: none;
}
.style_light hr.star {
  border-color: #ffffff;
  color: #ffffff;
}
.style_light hr.star:after {
  background-color: #444444;
  color: #ffffff;
}
.style_light a.btn-outline {
  color: #ffffff;
}
.style_light a.btn-outline:hover,
.style_light a.btn-outline:focus,
.style_light a.btn-outline:active,
.style_light a.btn-outline.active {
  color: #ffffff;
  background: #444444;
}
.style_blue {
  color: #000000;
  background-image: -moz-radial-gradient(center top, ellipse farthest-side, #a0dbfb, #0884c7 100%);
  background-image: -ms-radial-gradient(center top, ellipse farthest-side, #a0dbfb, #0884c7 100%);
  background-image: -webkit-gradient(radial, center center, 0, center center, 460, from(#a0dbfb), to(#0884c7));
  background-image: -webkit-radial-gradient(center top, ellipse farthest-side, #a0dbfb, #0884c7 100%);
  background-image: -o-radial-gradient(center top, ellipse farthest-side, #a0dbfb, #0884c7 100%);
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.75);
  position: relative;
}
.style_blue a,
.style_blue a:hover,
.style_blue a:focus,
.style_blue a.active {
  color: #185b94;
  outline: none;
}
.style_blue hr.star {
  border-color: #000000;
  color: #000000;
}
.style_blue hr.star:after {
  background-color: none;
  color: #000000;
}
.style_blue a.btn-outline {
  color: #000000;
  border-color: #000000;
}
.style_blue a.btn-outline:hover,
.style_blue a.btn-outline:focus,
.style_blue a.btn-outline:active,
.style_blue a.btn-outline.active {
  color: #000000;
  background: #a0dbfb;
}
.style_green {
  color: #000000;
  background-image: -moz-radial-gradient(center top, ellipse farthest-side, #94ec9b, #1b9925 100%);
  background-image: -ms-radial-gradient(center top, ellipse farthest-side, #94ec9b, #1b9925 100%);
  background-image: -webkit-gradient(radial, center center, 0, center center, 460, from(#94ec9b), to(#1b9925));
  background-image: -webkit-radial-gradient(center top, ellipse farthest-side, #94ec9b, #1b9925 100%);
  background-image: -o-radial-gradient(center top, ellipse farthest-side, #94ec9b, #1b9925 100%);
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.75);
  position: relative;
}
.style_green a,
.style_green a:hover,
.style_green a:focus,
.style_green a.active {
  color: #0c220c;
  outline: none;
}
.style_green hr.star {
  border-color: #000000;
  color: #000000;
}
.style_green hr.star:after {
  background-color: none;
  color: #000000;
}
.style_green a.btn-outline {
  color: #000000;
  border-color: #000000;
}
.style_green a.btn-outline:hover,
.style_green a.btn-outline:focus,
.style_green a.btn-outline:active,
.style_green a.btn-outline.active {
  color: #000000;
  background: #94ec9b;
}
@media (max-width: 767px) {
  section {
    padding: 75px 0;
  }
  section.first {
    padding-top: 75px;
  }
}
.style_yellow .ub_item,
.style_dark .ub_item,
.style_light .ub_item {
  margin: 0 0 15px;
  right: 0;
}
.style_yellow .ub_item .ub_link,
.style_dark .ub_item .ub_link,
.style_light .ub_item .ub_link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}
.style_yellow .ub_item .ub_link .caption,
.style_dark .ub_item .ub_link .caption,
.style_light .ub_item .ub_link .caption {
  background: rgba(51, 51, 51, 0.9);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}
.style_yellow .ub_item .ub_link .caption:hover,
.style_dark .ub_item .ub_link .caption:hover,
.style_light .ub_item .ub_link .caption:hover {
  opacity: 1;
}
.style_yellow .ub_item .ub_link .caption .caption-content,
.style_dark .ub_item .ub_link .caption .caption-content,
.style_light .ub_item .ub_link .caption .caption-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: white;
}
.style_yellow .ub_item .ub_link .caption .caption-content i,
.style_dark .ub_item .ub_link .caption .caption-content i,
.style_light .ub_item .ub_link .caption .caption-content i {
  margin-top: -12px;
}
.style_yellow .ub_item .ub_link .caption .caption-content h3,
.style_dark .ub_item .ub_link .caption .caption-content h3,
.style_light .ub_item .ub_link .caption .caption-content h3,
.style_yellow .ub_item .ub_link .caption .caption-content h4,
.style_dark .ub_item .ub_link .caption .caption-content h4,
.style_light .ub_item .ub_link .caption .caption-content h4 {
  margin: 0;
}
/*
.style_yellow *,
.style_dark *,
.style_light * {
  z-index: 2;
}
*/
@media (min-width: 767px) {
  section .ub_item {
    margin: 0 0 30px;
  }
}
footer {
  color: #ffffff;
  background-color: #000000;
}
footer h3 {
  margin-bottom: 30px;
}
footer .footer-above {
  padding-top: 50px;
  background-color: #000000;
}
footer .footer-col {
  margin-bottom: 50px;
}
footer .footer-below {
  padding: 25px 0;
  background-color: #000000;
  color: #ffffff;
}
.btn-social {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 2px solid white;
  border-radius: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
}
.btn:focus,
.btn:active,
.btn.active {
  outline: none;
}
.scroll-top {
  position: fixed;
  right: 2%;
  bottom: 2%;
  width: 50px;
  height: 50px;
  z-index: 1049;
}
.scroll-top .btn {
  font-size: 20px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  line-height: 28px;
}
.scroll-top .btn:focus {
  outline: none;
}
.img-logo {
  max-height: 200%;
  width: auto;
  float: left;
  margin-right: 20px;
  overflow: visible;
  margin-top: -10px;
}
.img-responsive {
  padding: 0 5% 0 5%;
}
.extra-space {
  margin-top: 50px;
}
#heyql {
  background: url(/ub/static/img/logo_marketplace_blue.png) no-repeat center;
  background-size: 100%;
  border: 2px solid #333333;
  box-shadow: none;
}
#groundwork {
  background: url(/ub/static/img/gw_logo.png) no-repeat center;
  background-size: 100%;
  border: 2px solid #333333;
  box-shadow: none;
}
#groundwork-web {
  background: url(/ub/static/img/gw_web.png) no-repeat center;
  background-size: 100%;
  border: 2px solid #333333;
  box-shadow: none;
}
#groundwork-database {
  background: url(/ub/static/img/gw_database.png) no-repeat center;
  background-size: 100%;
  border: 2px solid #333333;
  box-shadow: none;
}
.stars {
  background-size: 100%;
  height: 20px;
  width: auto;
}
.stars_0 {
  background: url(/ub/static/img/gw_database.png) no-repeat center;
}
img.rating {
  height: 10px;
}
#expertise div.row {
  margin-bottom: 20px;
}
ul.job_skills li {
  display: list-item;
  text-align: left;
  font-size: 1.5em;
  list-style-type: none;
}
ul.job_tasks li {
  display: list-item;
  text-align: left;
  font-size: 1.5em;
  list-style-type: none;
  background: url(/ub/static/img/bullet.png) left no-repeat;
  padding-left: 40px;
}
div.job_meta {
  font-size: 1.2em;
  padding: 0px 40px;
}
div.left {
  text-align: left;
}
div.right {
  text-align: right;
}
div.job_details {
  padding-top: 30px;
}
span.job_param {
  color: #333;
}
span.job_value {
  font-weight: bold;
}
img.job_contact {
  width: 80px;
  margin-bottom: 20px;
}
div.contact_name {
  font-size: 2em;
  padding-top: 0.5em;
}
div.contact_param {
  padding-right: 20px;
}
table.workday {
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
}
table.workday td {
  padding: 5px 10px;
  text-align: left;
}
table.workday td:first-of-type span {
  background-color: #ffcc00;
  border-radius: 20px;
  text-align: center;
  padding: 5px 10px;
  color: black;
}
div.portfolio div.ub_item {
  min-height: 330px;
  margin-bottom: 30px;
}

div.portfolio div.ub_item.blog {
  height: 320px;
  margin-bottom: 30px;
}
div.portfolio div.ub_item.blog img.blog_logo {
  z-index: 1;
}

div.portfolio div.ub_item.blog img.author {
  z-index: 3;
  height: 50px;
  right: 35%;
  top: 75px;
  position: absolute;
}

img.blog_author {
  width: 40px;
  height: 40px;
}

div.ub_inner_item {
  background-color: rgba(0,0,0,0.1);
  margin: 3px;
  border-radius: 5px;
  padding: 15px 10px 1px 10px;
  height: 100%;
  min-height: 330px;
}
div.portfolio img {
  max-height: 100px;
  max-width: 200px;
}
div.portfolio div.image {
  min-height: 100px;
  margin-bottom: 20px;
}
div.portfolio p.links {
  bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
p.no_jobs {
  text-align: center;
}
/*# sourceMappingURL=useblocks.css.map */


/* SALARY TABLE */
div.salary_container button {
  color: #ffcc00 !important;
  width: 100% !important;
  border-radius: 5px !important;
  background-color: #333 !important;
  border: 1px #222 solid !important;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  margin-bottom: 5px;
}

div.dropdown-menu, ul.dropdown-menu, ul.dropdown-menu li a {
  background: #333;
  color: #ffcc00;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    color: #f5f5f5;
    text-decoration: none;
    background-color: #555;
}

div.salary_container input {
  color: #fff !important;
  width: 100% !important;
  border-radius: 0 !important;
  background-color: transparent !important;
  border: none !important;
}

div.salary_row {
  border: 1px #333 solid;
  border-radius: 5px;
  margin: 10px 0px;
  padding: 5px 20px;
  text-align: left;
  vertical-align: center;
  font-size: 1em;
}

section.style_dark div.salary_row {
  border: 1px #444 solid !important;
  border-radius: 5px;
  margin: 10px 0px;
  padding: 5px 20px;
  text-align: left;
  vertical-align: center;
  font-size: 1em;
}

span.factor_name {
  font-size: 1.3em;
}


p.factor_text {
  font-size: 1.0em;
}

#salary_head {
  font-size: 1.3em;
}

p.factor_current_text {
  font-size: 1.0em;
}

section.style_dark #salary_final, section.style_dark #salary_head {
  background: #444 !important;
  color: #fff !important;
}

#salary_final, #salary_head {
  background: #333;
  color: #fff;
}

#salary_final span.factor_name {
  font-weight: bold;
}

#salary_final div.salary_result {
  font-size: 1.4em;
  font-weight: bold;
}

#final_salary_result {
  border-bottom: 3px double;
}

p.factor_current_text {
  font-size: 1em;
}



/*RANGE SLIDER VODOO */
/* See http://danielstern.ca/range.css/?ref=css-tricks#/ */

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 7.05px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2.9px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #333333;
  border-radius: 25px;
  border: 0.5px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000031, 0px 0px 1px #00004b;
  border: 1.5px solid #00001e;
  height: 17px;
  width: 17px;
  border-radius: 4px;
  background: #ffcc00;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.55px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #424242;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 2.9px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #333333;
  border-radius: 25px;
  border: 0.5px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000031, 0px 0px 1px #00004b;
  border: 1.5px solid #00001e;
  height: 17px;
  width: 17px;
  border-radius: 4px;
  background: #ffcc00;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 2.9px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #242424;
  border: 0.5px solid #010101;
  border-radius: 50px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #333333;
  border: 0.5px solid #010101;
  border-radius: 50px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000031, 0px 0px 1px #00004b;
  border: 1.5px solid #00001e;
  height: 17px;
  width: 17px;
  border-radius: 4px;
  background: #ffcc00;
  cursor: pointer;
  height: 2.9px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #333333;
}
input[type=range]:focus::-ms-fill-upper {
  background: #424242;
}


/*TEAM*/


div.employee {
  display: block;
  float: left;
  margin: 10px;
  text-align: center;
  width: 250px;
}

div.employee_image img{
  width: 100px;
  height: auto;
}



p.github_link {
  text-align: center;
}

a.ub_item_link {
  text-decoration: none;
  color: #000;
}
