table.dataTable tbody tr {
    background-color: transparent;
}

#jobs_table, #posts_table {
    font-size: 20px;
    border-spacing: 40px 0;
    border-collapse: separate;
}

#jobs_table thead, #posts_table thead {
    font-size: 18px;
}

table.dataTable tbody tr:hover {
    color: #FFCC00;
}

td.job_name, td.post_name {
	font-size: 1.2em;
}

th.job_name, th.post_name {
    min-width: 100px;
    width: 30%;
}
